body { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; margin: 0; }

#messages { list-style-type: none; }
#messages > li:nth-child(odd) { background: #efefef; }

#connect {
    background: green;
    width: 500px;
    margin: auto;
}

#form {
    background-color: green;
    width: 100%;
    display: flex;
    margin: auto;
    padding: 2px;
}

#form #input {
    width: 10%;
}

#createForm {
    background-color: green;
    padding: 2px;
}

#joinForm {
    background-color: red;
    padding: 2px;
}

#startBtn {
    display: none;
}

#chat {
    position: absolute;
    width: 25%;
    height: 100%;
    right: 0;
    border-left: black solid 1px;
}

#chat #form {
    position: fixed;
    bottom: 0;
}

#scale-image {
    width: 25%;
    display: none;
}

#game {
    margin-right: 25%;
}

#gameCanvas {
    border: black solid 2px;
    margin: 2px;
    background-color: green;
    display: none;
}

#gameText {
    display: none;
    background-color: green;
}

#controls {
    text-align: center;
    border: solid 1px black;
    width: auto;
    background-color: red;
    display: none;
}

#gameCode {
    display: none;
}

#playerList {
    display: none;
}