@keyframes card {
    0% { transform: translate(-1000px, -1000px);}
    100% {transform: translate(0);}
}

@keyframes result {
    0% { transform: translate(-1000px, 0px); }
    100% { transform: translate(0); }
}

.latestCard {
    animation-name: card;
    animation-duration: 0.5s;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
    background-color: rgb(40, 40, 40);
    color: rgb(240, 240, 240);
}

#connect {
    background: green;
    width: 500px;
    margin: auto;
}

#messages > li:nth-child(odd) {
    background: rgb(50, 50, 50);
}

#messages > li {
    padding: 5px;
}

#messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    max-height: 500px;
    padding-bottom: 10%;
    box-sizing: border-box;
    font-size: 24px;
}

#chat {
    z-index: 999;
    display: none;
    position: fixed;
    width: 25%;
    height: 500px;
    right: 5px;
    bottom: 0;
    border-left: black solid 1px;
    border-top: black solid 1px;
    border-right: black solid 1px;
    background-color: rgb(40, 40, 40);
}

#chat #chatForm {
    position: fixed;
    bottom: 0;
    width: 25%;
    display: flex;
    margin: auto;
    padding: 2px;
    box-sizing: border-box;
}

#chatForm #input {
    width: 100%;
    font-size: 24px;
}

#chatForm button {
    font-size: 24px;
}

#createForm, #joinForm, #usernameForm {
    padding: 10px;
    width: auto;
    max-width: 500px;
    margin: auto;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgb(20, 20, 20);
}

#reconnectDiv {
    display: none;
    padding: 10px;
    width: auto;
    max-width: 500px;
    margin: auto;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgb(20, 20, 20);
}

#reconnectDiv button {
    font-size: 24px;
    width: 100%;
}

#usernameForm {
    margin-bottom: 5px;
}

#createForm {
    margin-bottom: 5px;
}

#joinForm {
    margin-bottom: 5px;
}

#usernameForm button, #createForm button, #joinForm button {
    width: 100%;
}

#usernameForm input, #createForm input, #joinForm input {
    width: 100%;
    box-sizing: border-box;
}

.formHeading {
    margin: 0;
    margin-bottom: 2px;
}

.formInput {
    font-size: 24px;
}

.inputBtn {
    font-size: 24px;
}


@media only screen and (max-width: 600px) {
    #createForm {
        width: 100%;
        margin: 2px;
    }

    #joinForm {
        width: 100%;
        margin: 2px;
    }
}

#startBtn {
    display: none;
}

#scale-image {
    width: 25%;
    display: none;
}

#game {
    width: 100%;
}

#gameCanvas {
    background-color: green;
    display: none;
}

#gameText {
    position: fixed;
    padding-top: 0;
    padding: 10px;
    display: none;
    background-color: green;
    width: 100%;
    height: 100%;
    min-height: 100%;
    font-size: 24px;
    box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
    #gameText {
        font-size: 20px;
    }
}

#gameText p {
    margin: 0;
}

#game3d {
    display: none;
    margin: auto;
}

#game3dTextTop {
    font-size: 24px;
    position: fixed;
    top: 5px;
}

#game3dTextBottom {
    font-size: 24px;
    position: fixed;
    top: 40%;
}

#debugInfo {
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 999;
}

#controls {
    display: none;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 24px;
}

#controls button {
    padding: 3px;
    font-size: 32px;
}

#results {
    display: none;
    position: absolute;
    top: 45%;
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: rgb(20, 20, 20);
    padding: 10px;
    box-sizing: border-box;
}

#results button {
    font-size: 24px;
}

#roomCode {
    display: none;
}

#gameCode {
    display: none;
}

#lobby {
    display: none;
    font-size: 24px;
    margin: 5px;
}

#lobby ul {
    list-style-type: none;
}

#lobby button {
    font-size: 24px;
    width: 100%;
}

.textCards {
    display: flex;
    flex-wrap: wrap;
}

#cardFrontText, #cardBackText, #cardFrontTextBlank, #cardBackTextReveal {
    position: absolute;
    text-align: center;
    font-size: 24px;
    user-select: none;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

#cardFrontText {
    background-color: white;
}

#cardFrontTextBlank {
    background-color: red;
}

#cardBackText {
    background-color: red;
    transform: rotateY(180deg);
}

#cardBackTextReveal {
    background-color: white;
    transform: rotateY(180deg);
}

.hearts, .diamonds {
    color: red;
}

.spades, .clubs {
    color: black;
}

#card {
    perspective: 1000px;
    width: 10%;
    min-width: 100px;
    aspect-ratio: 6.5 / 10;
    margin: 5px;
    margin-right: 0;
}

@media only screen and (orientation: landscape) {
    #card {
        min-width: 30px;
    }
}

#cardContainer {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

//#card:hover #cardContainer {
//    transform: rotateY(180deg);
//}

.cardReveal {
    transform: rotateY(180deg);
}

#cardFront, #cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#cardImg {
    width: 100%;
    height: 100%;
}

#cardBack {
    transform: rotateY(180deg);
}