@keyframes card {
    0% { transform: translate(-1000px, -1000px);}
    100% {transform: translate(0);}
}

@keyframes result {
    0% { transform: translate(-1000px, 0px); }
    100% { transform: translate(0); }
}

.latestCard {
    animation-name: card;
    animation-duration: 0.5s;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
    margin: 0; 
    padding: 0;
}

#connect {
    background: green;
    width: 500px;
    margin: auto;
}

#messages > li:nth-child(odd) {
    background: #efefef;
}

#messages > li {
    padding: 5px;
}

#messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    max-height: 500px;
    padding-bottom: 5%;
    box-sizing: border-box;
}

#chat {
    z-index: 999;
    display: none;
    position: fixed;
    width: 25%;
    height: 500px;
    right: 5px;
    bottom: 0;
    border-left: black solid 1px;
    border-top: black solid 1px;
    border-right: black solid 1px;
    background-color: white;
}

#chat #chatForm {
    position: fixed;
    bottom: 0;
    background-color: green;
    width: 25%;
    display: flex;
    margin: auto;
    padding: 2px;
    box-sizing: border-box;
}

#chatForm #input {
    width: 100%;
}

#createForm {
    background-color: green;
    padding: 2px;
    width: auto;
    max-width: 500px;
    margin: auto;
    margin-bottom: 5px;
    box-sizing: border-box;
}

#joinForm {
    margin-top: 50px;
    background-color: red;
    padding: 2px;
    width: auto;
    max-width: 500px;
    margin: auto;
    box-sizing: border-box;
}

#reconnectDiv {
    display: none;
    margin-top: 50px;
    background-color: rebeccapurple;
    padding: 2px;
    width: auto;
    max-width: 500px;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    #createForm {
        background-color: red;
        width: 100%;
        margin: 2px;
    }

    #joinForm {
        width: 100%;
        margin: 2px;
    }
}

#startBtn {
    display: none;
}

#scale-image {
    width: 25%;
    display: none;
}

#game {
    width: 100%;
}

#gameCanvas {
    background-color: green;
    display: none;
}

#gameText {
    margin: auto;
    padding: 0;
    display: none;
    background-color: green;
    width: 100%;
    height: 100%;
}

#debugInfo {
    display: none;
}

#controls {
    display: none;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: white;
    font-size: 24px;
}

#controls button {
    padding: 3px;
    font-size: 32px;
}

#results {
    display: none;
    width: auto;
    height: 90%;
    max-width: 500px;
    margin: auto;
    text-align: center;
    background-color: grey;
    padding: 5px;

}

#roomCode {
    display: none;
}

#gameCode {
    display: none;
}

#lobby {
    display: none;
}

.textCards {
    display: flex;
    flex-wrap: wrap;
}

#card {
    text-align: center;
    font-size: 24px;
    width: 10%;
    width: 6.5%;
    aspect-ratio: 6.5 / 10;
    border: 2px black solid;
    border-radius: 5px;
    margin: 2px;
    background-color: white;
    user-select: none;
    padding: 1px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

#card:hover {
    transform: rotateY(180deg)
}

.hearts, .diamonds {
    color: red;
}

.spades, .clubs {
    color: black;
}